@import "@arcgis/core/assets/esri/themes/light/main.css";
@import "@esri/calcite-components/dist/calcite/calcite.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#viewDiv {
  flex-grow: 1;
}

calcite-navigation {
  calcite-label {
    align-self: center;
    margin-inline: 1rem;
    margin-top: 0.75rem;

    calcite-switch {
      --calcite-ui-brand: var(--calcite-ui-border-input);
      --calcite-ui-brand-hover: var(--calcite-ui-text-3);
    }

    // calcite-chip {
    //   // --calcite-ui-foreground-2: var(--calcite-ui-info);
    //   --calcite-ui-text-1: var(--calcite-ui-text-3);
    // }

    calcite-chip.refresh.active {
      --calcite-ui-foreground-2: var(--calcite-ui-info);
      --calcite-ui-text-1: var(--calcite-ui-text-inverse);
    }

    calcite-chip.live.active {
      --calcite-ui-foreground-2: var(--calcite-ui-success);
      --calcite-ui-text-1: var(--calcite-ui-text-inverse);
    }
  }
}

calcite-navigation-logo {
  cursor: pointer;
}

.hide {
  display: none;
}

.player-loader {
  padding-top: 0px;
  padding-bottom: 20px;
}

#user-menu {
  position: absolute;
  top: 65px;
  right: 0px;
  z-index: 1;
}