@import "https://js.arcgis.com/calcite-components/3.0.0-next.134/calcite.css";
@import "https://js.arcgis.com/4.32/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://js.arcgis.com/map-components/4.32/arcgis-map-components.css";

calcite-navigation {
  calcite-label {
    align-self: center;
    margin-inline: 1rem;
    margin-top: 0.75rem;

    calcite-switch {
      --calcite-ui-brand: var(--calcite-ui-border-input);
      --calcite-ui-brand-hover: var(--calcite-ui-text-3);
    }

    calcite-chip.refresh {
      --calcite-color-brand: var(--calcite-ui-info);
      --calcite-ui-text-1: var(--calcite-ui-text-inverse);
    }

    calcite-chip.live {
      --calcite-color-brand: var(--calcite-ui-success);
      --calcite-ui-text-1: var(--calcite-ui-text-inverse);
    }
  }
}
